*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.menu-container ul{
  padding-left: 0px;
  text-align: center;
}

.menu-container li {
  list-style: none;
  line-height: 120px;
  padding-left: 0px;
  transform: rotate(-90deg);
  font-weight: 700;
}

.menu-container a:hover {
  color: #66c691;
  cursor: pointer;
}

.menu-container li.active a{
  color: #66c691;
}

a{
  text-decoration: none;
  color: #fff;
}

.menu-container {
  width: 5%;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  background: #000;
  height: 100%;
  color: #fff;
  z-index: 5;
}

.main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  background: url('bg.jpg');
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 30px 30px 120px;
}

.hero{
  width: 60%;
  position: relative;
  z-index: 1;
  padding-left: 100px;
}

.hero h1{
  margin-top: 40%;
  color: #fff;
  font-size: 50px;
  line-height: 15px;
}

.hero h3 {
  color: #fff;
  font-size: 30px;
  line-height: 15px;
}

.hero p{
  color: #fff;
  font-size: 24px;
  word-wrap: break-word;
}

.hero span{
  color: #66c691;
}

.hero button{
  display: block;
  background-color: #66c691;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  border-radius: 5px;
}

.hero button:hover{
  color: #fff;
}

.about {
  width: 50%;
  position: relative;
  z-index: 1;
}

.about h1 {
  color: #fff;
  font-size: 50px;
  line-height: 15px;
}

.about h3 {
  color: #fff;
  font-size: 30px;
  line-height: 15px;
  word-wrap: break-word;
  margin-bottom: 5px;
  padding-bottom: 15px;
  border-bottom: 3px solid #66c691;
}

.about p {
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}

.about span {
  color: #66c691;
}

.about ul {
  font-size: 18px;
  line-height: 32px;
}

.about label{
  display: block;
  font-size: 20px;
  line-height: 40px;
}

.skill-warp{
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}

.skill{
  width: 50%;
}

.skill label{
  font-size: 18px;
}

progress {
  display: block;
  border: none;
  width: 80%;
  height: 10px;
  background: #fff;
}

progress {
  color: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #66c691;
}

progress::-webkit-progress-bar {
  background: #fff;
}

.experience {
  width: 50%;
  position: relative;
  z-index: 1;
}

.experience h1 {
  color: #fff;
  font-size: 50px;
  line-height: 15px;
}

.experience h3 {
  color: #fff;
  font-size: 24px;
  line-height: 15px;
  word-wrap: break-word;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 3px solid #66c691;
}

.experience span {
  margin-top: 12px;
  display: block;
  color: #66c691;
  font-size: 18px;
  word-wrap: break-word;
  margin-bottom: 0px;
}

.experience p {
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
  margin-bottom: 0px;
}

.experience span {
  color: #66c691;
}

.portfolio {
  width: 50%;
  position: relative;
  z-index: 1;
}

.portfolio h1 {
  color: #fff;
  font-size: 50px;
  line-height: 15px;
}

.portfolio h3 {
  color: #fff;
  font-size: 24px;
  line-height: 15px;
  word-wrap: break-word;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 3px solid #66c691;
}

.portfolio p {
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
  margin-top: 5px;
}

.portfolio span {
  color: #66c691;
}

.contact {
  width: 50%;
  position: relative;
  z-index: 1;
}

.contact h1 {
  color: #fff;
  font-size: 50px;
  line-height: 15px;
}

.contact-warp{
  display: block;
}

.contact-warp svg{
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: #66c691;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
}

.contact-warp h3{
  margin-bottom: 0;
  font-size: 24px;
  color: #fff;
  border-bottom: 3px solid #66c691;
  margin-left: 60px;
}

.contact-warp p{
  padding: 0 0 0 60px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 18px;
  color: #66c691;
}

.photo img{
  width: 500px;
  bottom: 0px;
  right: 60px;
  position: absolute;
}

@media only screen and (max-width: 850px) {

  .hero {
    width: 100%;
    padding-left: 0px;
    text-align: center;
  }

  .hero h1 {
    margin-top: 20%;
    color: #fff;
    font-size: 70px;
    margin-left: 0;
  }

  .hero h3 {
    color: #fff;
    font-size: 30px;
    line-height: 10px;
    margin-left: 0;
  }

  .hero button{
    margin: auto;
  }

  .photo img {
    margin: auto;
    left: 0;
    width: 400px;
    bottom: 0px;
    right: 0px;
    position: absolute;
  }

  .about{
    width: 90%;
  }

  .experience{
    width: 90%;
  }

  .portfolio {
    width: 90%;
  }
  
}

@media only screen and (max-width: 500px) {

  .menu-container{
    width: 10%;
  }

  .main {
    padding: 5px 5px 5px 0px;
  }

  .hero {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }

  .hero h1 {
    margin-top: 20%;
    color: #fff;
    font-size: 40px;
    margin-left: 0;
  }

  .hero h3 {
    color: #fff;
    font-size: 20px;
    line-height: 10px;
    margin-left: 0;
  }

  .hero button {
    margin: auto;
  }

  .photo img {
    margin: auto;
    left: 0;
    width: 300px;
    bottom: 0px;
    right: 0px;
    position: absolute;
  }

  .about {
    width: 100%;
    padding: 5px 5px 5px 50px;
  }

  .about h1 {
    color: #fff;
    font-size: 40px;
    line-height: 15px;
  }

  .about h3 {
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 3px solid #66c691;
  }

  .about p {
    color: #fff;
    font-size: 16px;
    word-wrap: break-word;
  }

  .about span {
    color: #66c691;
  }

  .about ul {
    font-size: 16px;
    line-height: 20px;
  }

  .about label {
    display: block;
    font-size: 12px;
    line-height: 40px;
  }

  progress{
    width: 90%;
  }

  .experience {
    width: 100%;
    padding: 5px 5px 5px 50px;
  }

  .experience h1 {
    color: #fff;
    font-size: 40px;
    line-height: 15px;
  }

  .experience h3 {
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 3px solid #66c691;
  }

  .experience p {
    color: #fff;
    font-size: 16px;
    word-wrap: break-word;
  }

  .experience span {
    color: #66c691;
  }

  .portfolio {
    width: 100%;
    padding: 5px 5px 5px 50px;
  }

  .portfolio h1 {
    color: #fff;
    font-size: 40px;
    line-height: 15px;
  }

  .portfolio h3 {
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-bottom: 3px solid #66c691;
  }

  .portfolio p {
    color: #fff;
    font-size: 16px;
    word-wrap: break-word;
  }

  .portfolio span {
    color: #66c691;
  }
}